[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/gainskills/hugo-theme-cleanwhite.git
[submodule "public"]
	path = public
	url = https://github.com/gainskills/gainskills.github.io.git
